.Card {
    display: flex;
    margin: 25px ;
    
    padding: 20px;
    background-color: tomato;
    border-radius: 25px;
    justify-content: space-between;
}

.Pokemon-picture {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #cdcdcd;
    
    height: 550px;
    width: 500px;

    border-radius: 25px;
    border: solid 0.3rem black;
}

.Picture {
    height: 100%;
    width: 100%;
}

.Pokemon-info {
    display: flex;
    flex-wrap: wrap;

    font-size: large;
    background-color: #cdcdcd;
    
    height: 550px;
    width: 700px;

    border-radius: 25px;
}

.Info-items {
    width: 100%;
    height: 260px;
    padding-left: 10px;

    color: black;
    font-size: 1.5rem;
    font-weight: 600;

    border-radius: 25px;
    border: solid 0.3rem black;
}

.Info-stats {
    width: 100%;
    height: 260px;
    padding-left: 10px;

    color: black;
    font-size: 1.5rem;
    font-weight: 600;

    border-radius: 25px;
    border: solid 0.3rem black;
}

.Info-stats .Header {
    display: flex;
    justify-content: center;
}

.Card .Pokemon-map {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: large;
    background-color: #cdcdcd;
    
    height: 550px;
    width: 550px;

    border-radius: 25px;
    border: solid 0.3rem black;
}

