.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    margin-bottom: 25px;
    height: 100px;
    background-color: #fff;
    box-shadow: 2px 5px 5px rgb(46, 45, 45);
}

.input-bar {
    margin-right: 1rem;
}

.input-button{
    margin-right: 1rem;
}

.input-filter-button {
    margin-right: 1rem;
}