.card {
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0.5rem;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
  
.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.image_column{
    display: flex;
    flex-direction: column;
    min-width: 9.75rem;
    margin-right: 5px;
}

.image {
    display: flex;
    justify-content: center;
    margin: 0.4rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #f1f0f0;
}

.name_and_badge {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.pokemon_name {
    display: flex;
    justify-content: center;
}

.pokemon_badges {
    display: flex;
    justify-content: center;
    margin: 0.1rem;
}

.status_column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: 300;
    margin-top: 0.2rem;
}

.status_field {
    display: flex;
    width: 100%;
    align-items: flex-start;
    
}

.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.column {
    display: flex;
    width: 50%;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
    padding: 5px;
    background-color: #f1f0f0;
}

.base_status_value {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: large;
    font-weight: 300;
}

.info_field {
    display: flex;
    width: 100%;
    height: 100%;
}

.height_width_row{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.height_field {
    display: flex;
    border: 1px solid red;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    width: 50%;
    align-items: center;
    padding: 5px;
    background-color: #f1f0f0;
}

.weight_field {
    display: flex;
    border: 1px solid red;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    width: 50%;
    align-items: center;
    padding: 5px;
    background-color: #f1f0f0;
}

.weakness_row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.value {
    display: flex;
    width: 100%;
    font-size: large;
    font-weight: 300;
}

.title_info {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    width: 100%;
    align-items: flex-end;
}

._description {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 350;
    margin-top: 0.2rem;
}