.card {
    display: flex;
    margin: 0.40rem;
    text-align: left;
    color: inherit;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.2s ease, border-color 0.2s ease;
    background-color: teal;
    width: 100%;
}
  
.card:hover,
.card:focus,
.card:active {
    border-color: #063366;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
  
.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.image_column{
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    background-color: tomato;
    width: min-content;
    min-width: 9.75rem;
}

.image {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background: #a19d9d;
}

.name_and_badge {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.pokemon_name {
    display: flex;
    justify-content: flex-start;
}

.pokemon_badges {
    display: flex;
    justify-content: flex-start;
    margin: 0.1rem;
}

.status_column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: 300;
    margin-top: 0.2rem;
}

.status_field {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.column {
    display: flex;
    width: 50%;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
    background: #d3cece;
}

.base_status_value {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: large;
    font-weight: 300;
}

.info_field {
    display: flex;
    width: 100%;
    height: 100%;
}

.height_width_row{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.height_field {
    display: flex;
    margin-right: .02rem;
}

.weight_field {
    display: flex;
}

.weakness_row {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.weakness {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.value {
    display: flex;
    width: 100%;
    font-size: large;
    font-weight: 300;
}

.title_info {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    width: 100%;
    align-items: flex-end;
}