.header {
    display: flex;
    width: 100%;
    min-height: 4rem;
    background: tomato;
    align-items: center;
    max-height: min-content;
}

.logo {
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.logo a{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

.main_nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1rem;
}

.nav_list ul {
    margin: 1em 0 .5em;
	text-align: center;
}

.nav_list li {
    display: inline;
}

.nav_list a {
    padding: .5em 1.5em;
    border-radius: 5px;
}

.nav_list a:hover .nav_list a:focus, .nav_list a:active {
    background-color: rgb(228, 84, 59);
}

.dropdown_items {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
}

.dropdown_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top_links {
    display: flex;
    position: absolute;
    top: 64px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
}